body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px outset #ca0707;
    border-radius: 5px;
    background-color: #000000;
    margin-top: 150px;
}

h1{
    color: #ca0707;
}

body {
    background-color: black;
}

button{
    color: #ca0707;
    background-color: rgb(0, 0, 0)
}

ul {
    color: #ca0707;
}

input{
    background-color: #000000;
    color: #ca0707;
}

::placeholder{
    color: #ca0707;
}